@charset "UTF-8";
/*font-family: 'Shrikhand', cursive;*/
/*Suppression du surlignage dans les liens*/
a {
  text-decoration: none;
  color: inherit;
}

/*typo en blanc*/
li, button, .tuttobouton__nmb {
  color: #ffffff;
}

/* Font page d'accueil*/
main h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

main h2 {
  font-family: 'Roboto', sans-serif;
}

main h3, main .tuttobouton__nmb {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main p {
  font-family: 'Roboto', sans-serif;
}

main .localisation h3, main .containerbutton h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/*footer*/
footer li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0 0 0.4em 0;
}

footer li h2 {
  font-family: "Shrikhand", cursive;
}

/*police du bouton violet*/
.purplebutton {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/**************************************/
/**********ANIMATION-COEUR*************/
/**************************************/
.heart .coeursansbordure {
  opacity: 0;
  display: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: transparent;
}

.heart:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.heart:hover .coeurbordure {
  display: none;
}

.heart:hover .coeursansbordure {
  opacity: 1;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Arrivé sur la page menu*/
.button {
  opacity: 0;
  -webkit-animation: boutton 1000ms forwards;
          animation: boutton 1000ms forwards;
}

.button1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.button2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.button3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.button4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes boutton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes boutton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

/**************************************/
/**********ANIMATION-CHECK*************/
/**************************************/
.buttongreenback__color {
  margin: -1rem -5rem -1rem 1rem;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

.fa-check-circle {
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.button:hover .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.button:hover .buttongreenback__color {
  margin: 0;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

.button:hover .button__info {
  width: 70%;
  -webkit-transform: width 0.2s;
          transform: width 0.2s;
}

/**************************************/
/**********ANIMATION-LOAD**************/
/**************************************/
.containerloader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: caca 5s both 1;
          animation: caca 5s both 1;
}

@-webkit-keyframes caca {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  90% {
  }
  100% {
    z-index: -100;
  }
}

@keyframes caca {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  90% {
  }
  100% {
    z-index: -100;
  }
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
}

.loader__balls {
  position: absolute;
  background-color: #15dea5;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  animation: balls 1000ms both 3 ease-in-out alternate-reverse;
}

.loader__balls--1 {
  background-color: #99e2d0;
}

.loader__balls--2 {
  background-color: #9356dc;
}

.loader__balls--3 {
  background-color: #ff79da;
}

.loader__balls--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.loader__balls--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loader__balls--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes balls {
  0% {
    -webkit-transform: translateX(500%) scale(0.01) rotateY(360deg);
            transform: translateX(500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: #bbb;
    }
  }
  50% {
    -webkit-transform: scale(2) rotateY(0deg);
            transform: scale(2) rotateY(0deg);
  }
  100% {
    -webkit-transform: translateX(-500%) scale(0.01) rotateY(360deg);
            transform: translateX(-500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: violet;
    }
  }
}

@keyframes balls {
  0% {
    -webkit-transform: translateX(500%) scale(0.01) rotateY(360deg);
            transform: translateX(500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: #bbb;
    }
  }
  50% {
    -webkit-transform: scale(2) rotateY(0deg);
            transform: scale(2) rotateY(0deg);
  }
  100% {
    -webkit-transform: translateX(-500%) scale(0.01) rotateY(360deg);
            transform: translateX(-500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: violet;
    }
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #353535;
}

footer ul {
  list-style-type: none;
}

#logo {
  font-family: "Shrikhand", cursive;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(71, 70, 70, 0.192);
          box-shadow: 2px 2px 2px 2px rgba(71, 70, 70, 0.192);
}

#logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/**************************************/
/**************BOUTON MENU*************/
/**************************************/
/*bouton des choix dans la page de menu */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1em;
  margin: 1rem auto;
  background: white;
  border-radius: 1.5em;
  overflow: hidden;
  height: 5em;
}

.button .buttongreenback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button .buttongreenback__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99e2d0;
  height: 100%;
  width: 4em;
}

.button .buttongreenback__color i {
  -webkit-filter: invert(100%);
}

.button__info {
  width: 80%;
}

.button__info h2,
.button__info h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**************************************/
/************BOUTONS VIOLET************/
/**************************************/
/*Création des boutons violets*/
.purplebutton {
  border-radius: 500px;
  border: 0;
  padding: 1.5em 4em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
}

/**************************************/
/**************BOUTONS TUTO************/
/**************************************/
/*Création des boutons de la page d'accueil*/
.tutobouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 25em;
  min-width: 20em;
  height: 5em;
}

.tutobouton .buttonborder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 90%;
  border-radius: 25px;
  border: 0;
  padding: 0.1em;
  background: #f6f6f6;
  margin-left: -20px;
}

.tutobouton .buttonborder .tuttoboutton__icon {
  margin-left: 1.5em;
}

.tutobouton .buttonborder .tuttobouton__txt {
  margin-right: 1.5em;
}

/*Cercle contenant le chiffre*/
.tuttobouton__nmb {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: 0;
  background: #9356dc;
  text-align: center;
}

/*version tablette*/
/*.mainbody {
  border : 2px solid violet;
}
.mainmenu {
  border : 2px solid green;
}

.container__allfood {
  border: 2px solid violet;
}
.container__food {
  border: 2px solid green;
}
.button  {
  border: 2px solid red;
}
*/
body {
  max-width: 1200px;
  margin: 0 auto;
}

.tuto {
  margin-bottom: 3em;
}

/**************************************/
/***************VIGNETTES**************/
/**************************************/
/*Création des vignettes de la page d'accueil*/
.vignette {
  display: block;
  border: 0;
  -webkit-box-shadow: 10px 1px 12px rgba(194, 194, 194, 0.397);
          box-shadow: 10px 1px 12px rgba(194, 194, 194, 0.397);
  border-radius: 1em;
  overflow: hidden;
  margin: 1em;
  height: 16rem;
  background: white;
}

.vignette img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 769px) {
  .vignette {
    max-width: 40em;
  }
}

@media (min-width: 769px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Mise en place du contenu text et icone des vignettes */
.container__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30%;
  padding-left: 1em;
  padding-right: 2em;
}

.container__desc h2,
.container__desc h3 {
  margin: 0;
}

/**************************************/
/************LOCALISATION**************/
/**************************************/
.localisation {
  background: #eaeaea;
  text-align: center;
  padding: 0.1em;
}

/**************************************/
/************EXPLORER******************/
/**************************************/
.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 4em;
  padding: 1 2em;
}

/*Ajout d'une marge à gauche pour les titres*/
.tuto h1,
.resto h1 {
  padding-left: 0.8em;
}

/**************************************/
/***************RESTO******************/
/**************************************/
.resto {
  background: #f6f6f6;
  padding-top: 2em;
  padding-bottom: 3em;
}

.containerbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 480px) {
  .containerbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.vignette {
  position: relative;
}

.nouveaubutton {
  position: absolute;
  top: 15%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #99e2d0;
  color: #1c6351;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

/**************************************/
/**************MAIN********************/
/**************************************/
/*Ces classes concernent les pages menus à bouger au plus vite mec*/
.backgroundimg {
  height: 15rem;
  overflow: hidden;
  width: 100%;
}

.backgroundimg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.titrecoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainmenu {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem 2rem 0 0;
  margin-top: -30px;
  width: 100%;
  padding-bottom: 5rem;
}

.container__allfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
}

.container__allfood .purplebutton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 769px) {
  .container__allfood {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container__food {
  /*@include centerflex($direction : column);*/
  width: 95%;
  margin: 1rem;
  max-width: 30rem;
}
/*# sourceMappingURL=main.css.map */