footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #353535;
}

footer ul {
  list-style-type: none;
}

/*font-family: 'Shrikhand', cursive;*/
#logo {
  font-family: "Shrikhand", cursive;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header #logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/**************************************/
/**************MAIN********************/
/**************************************/
.container__allfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainmenu {
  background: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
  margin-top: -30px;
  width: 100%;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__food {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.backgroundimg {
  height: 15rem;
  overflow: hidden;
  width: 100%;
}

.backgroundimg img {
  overflow: cover;
}

.localisation {
  background: #EAEAEA;
  text-align: center;
}

/**************************************/
/************EXPLORER******************/
/**************************************/
.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  text-align: center;
  background: #F6F6F6;
}

/**************************************/
/**************TUTO********************/
/**************************************/
/**************************************/
/***************RESTO******************/
/**************************************/
.resto {
  background: #F6F6F6;
}

.containerbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body {
  margin: 0 auto;
}

/*font-family: 'Shrikhand', cursive;*/
.vignette {
  display: block;
  border: 2px solid blueviolet;
  border-radius: 1em;
  overflow: hidden;
  margin: 1em;
  height: 16rem;
}

.vignette img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30%;
  background: white;
}

.container__desc h2, .container__desc h3 {
  margin: 0;
}

.purplebutton {
  border-radius: 500px;
  border: 0;
  padding: 1em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
}

.tutobouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 5em;
}

.tutobouton .buttonborder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90%;
  border-radius: 25px;
  border: 0;
  padding: 0.1em;
  background: #F6F6F6;
  margin-left: -14px;
}

.tuttobouton__nmb {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: 0;
  background: #9356dc;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */