/**************************************/
/**********ANIMATION-COEUR*************/
/**************************************/
.heart {
  position: relative;
}
.coeursansbordure {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($secondaryColor),
    to($primaryColor)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart {
  .coeursansbordure {
    transition: 0.3s;
    opacity: 0;
    transform: scale(0.5);
  }

  &:hover {
    .coeursansbordure {
      transition: 0.3s;
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

/*Arrivé sur la page menu*/

.button {
  opacity: 0;
  animation: boutton 1000ms forwards;
}
.button1 {
  animation-delay: 0.2s;
}
.button2 {
  animation-delay: 0.4s;
}
.button3 {
  animation-delay: 0.6s;
}
.button4 {
  animation-delay: 0.8s;
}
@keyframes boutton {
  0% {
    opacity: 0;
    transform: translateY(55%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/**************************************/
/**********ANIMATION-CHECK*************/
/**************************************/

.buttongreenback__color {
  margin: -1rem -5rem -1rem 1rem;
  transition: margin 0.2s;
}

.fa-check-circle {
  transform: rotate(260deg);
  transition: transform 0.6s;
}

.button {
  &:hover {
    .fa-check-circle {
      transform: rotate(0deg);
      transition: transform 0.6s;
    }
    .buttongreenback__color {
      margin: 0;
      transition: margin 0.2s;
    }
    .button__info {
      transition-duration: 0.2s;
      width: 70%;
    }
  }
}
/**************************************/
/**********ANIMATION-LOAD**************/
/**************************************/

$anim-total: 1000ms;
$anim-delay: 100ms;

.containerloader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: backcolor 5s both 1;
}
@keyframes backcolor {
  0% {
    background: hsla(0, 0%, 100%, 0.9);
  }
  50% {
    background: hsla(0, 0%, 100%, 0.9);
  }
  90% {
  }
  100% {
    z-index: -100;
  }
}

.loader {
  @include centerflex($direction: row);
  width: 500px;
  height: 500px;
  &__balls {
    position: absolute;
    background-color: #15dea5;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: inline-block;

    animation: balls $anim-total both 3 ease-in-out alternate-reverse;

    &--1 {
      background-color: $tertiaryColor;
    }
    &--2 {
      background-color: $primaryColor;
    }
    &--3 {
      background-color: $secondaryColor;
    }

    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

@keyframes balls {
  0% {
    transform: translateX(500%) scale(0.01) rotateY(360deg);
  }

  50% {
    transform: scale(2) rotateY(0deg);
  }
  100% {
    transform: translateX(-500%) scale(0.01) rotateY(360deg);
  }
}

/**************************************/
/*********ANIMATION-TUTOBUTTON*********/
/**************************************/

.buttonborder {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: #ff79d926;
    i {
      transition: 0.3s;
      color: $primaryColor;
    }
  }
}
/**************************************/
/***********BOUTON-VIOLET**************/
/**************************************/
.purplebutton {
  transition: 0.3s;
  opacity: 1;
  @include shadow;
  &:hover {
    transition: 0.3s;
    opacity: 0.8;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.397);
  }
}
