/**************************************/
/**********ANIMATION-COEUR*************/
/**************************************/
.heart {
  .coeursansbordure {
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    background: transparent;
  }
  &:hover {
    transition-duration: 1s;
    .coeurbordure {
      display: none;
    }
    .coeursansbordure {
      opacity: 1;
      transition-duration: 0.1s;
      display: block;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from($secondaryColor),
        to($primaryColor)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/*Arrivé sur la page menu*/

.button {
  opacity: 0;
  animation: boutton 1000ms forwards;
}
.button1 {
  animation-delay: 0.2s;
}
.button2 {
  animation-delay: 0.4s;
}
.button3 {
  animation-delay: 0.6s;
}
.button4 {
  animation-delay: 0.8s;
}
@keyframes boutton {
  0% {
    opacity: 0;
    transform: translateY(55%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/**************************************/
/**********ANIMATION-CHECK*************/
/**************************************/

.buttongreenback__color {
  margin: -1rem -5rem -1rem 1rem;
  transition: margin 0.2s;
}

.fa-check-circle {
  transform: rotate(260deg);
  transition: transform 0.6s;
}

.button {
  &:hover {
    .fa-check-circle {
      transform: rotate(0deg);
      transition: transform 0.6s;
    }
    .buttongreenback__color {
      margin: 0;
      transition: margin 0.2s;
    }
    .button__info {
      width: 70%;
      transform: width 0.2s;
    }
  }
}
/**************************************/
/**********ANIMATION-LOAD**************/
/**************************************/

$anim-total: 1000ms;
$anim-delay: 100ms;

.containerloader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: caca 5s both 1;
}
@keyframes caca {
  0% {
    background-color: hsla(0, 0%, 100%, 0.9);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.9);
  }
  90%{

  }
  100% {
    z-index: -100;
  }
}

.loader {
  @include centerflex($direction: row);
  width: 500px;
  height: 500px;
  &__balls {
    position: absolute;
    background-color: #15dea5;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: inline-block;

    animation: balls $anim-total both 3 ease-in-out alternate-reverse;

    &--1 {
      background-color: $tertiaryColor;
    }
    &--2 {
      background-color: $primaryColor;
    }
    &--3 {
      background-color: $secondaryColor;
    }

    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

@keyframes balls {
  0% {
    transform: translateX(500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: #bbb;
    }
  }

  50% {
    transform: scale(2) rotateY(0deg);
  }
  100% {
    transform: translateX(-500%) scale(0.01) rotateY(360deg);
    .containerloader {
      background-color: violet;
    }
  }
}
