/**************************************/
/**************BOUTON MENU*************/
/**************************************/

/*bouton des choix dans la page de menu */




.button {
    border: 0;
    @include centerflex($direction : row);
    justify-content: space-between;
    
    margin : 1rem auto;
    background: white;
    border-radius: 1.5em;
    padding: 0.4em;
   
}

.button__info h2, 
.button__info h3 {
    margin: 0;
}

/**************************************/
/************BOUTONS VIOLET************/
/**************************************/

/*Création des boutons violets*/
.purplebutton {
    border-radius: 500px;
    border : 0;
    padding : 1em;
    background-image: linear-gradient($secondaryColor, $primaryColor);
}



/**************************************/
/**************BOUTONS TUTO************/
/**************************************/

/*Création des boutons de la page d'accueil*/


.tutobouton {
    @include centerflex(row-reverse);  
    justify-content: flex-end;
    width: 90%; 
    max-width: 30em;
    min-width: 20em;
    height: 5em;        
    .buttonborder {
        @include centerflex(row);
        justify-content: space-around;
        min-width: 90%;
        border-radius: 25px;
        border: 0;
        padding: 0.1em;
        background: #F6F6F6;
        margin-left: -20px;
               
        .tuttoboutton__icon {
            margin-left: 1.5em;           
        }
       .tuttobouton__txt {
        margin-right: 1.5em;
       }
    }
}
/*Cercle contenant le chiffre*/
.tuttobouton__nmb {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border: 0;
    background: $primaryColor;
    text-align: center;
}