/**************************************/
/**************BOUTON MENU*************/
/**************************************/

/*bouton des choix dans la page de menu */

.button {
  @include centerflex($direction: row);
  justify-content: space-between;
  padding-left: 1em;
  margin: 1rem auto;
  background: white;
  border-radius: 1.5em;
  overflow: hidden;
  @include shadow;
  height: 5em;
  @media (min-width: 769px) {
  }
  .buttongreenback {
    @include centerflex($direction: row);
    align-self: flex-end;
  }
  .buttongreenback__color {
    @include centerflex($direction: row);
    background: $tertiaryColor;
    height: 100%;
    width: 4em;
    i {
      -webkit-filter: invert(100%);
    }
  }
}
.button__info {
  width: 80%;
}
.button__info h2,
.button__info h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**************************************/
/************BOUTONS VIOLET************/
/**************************************/

/*Création des boutons violets*/
.purplebutton {
  border-radius: 500px;
  border: 0;
  padding: 1.5em 4em;
  background-image: linear-gradient($secondaryColor, $primaryColor);
}

/**************************************/
/**************BOUTONS TUTO************/
/**************************************/

/*Création des boutons de la page d'accueil*/

.tutobouton {
  @include centerflex(row-reverse);
  justify-content: center;
  width: 90%;
  max-width: 25em;
  min-width: 20em;
  height: 5em;
  
  .buttonborder {
    @include centerflex(row);
    justify-content: space-around;
    min-width: 90%;
    border-radius: 25px;
    border: 0;
    padding: 0.1em;
    
    margin-left: -20px;
    @include shadow;
    .tuttoboutton__icon {
      margin-left: 1.5em;
    }
    .tuttobouton__txt {
      margin-right: 1.5em;
    }
  }
}
/*Cercle contenant le chiffre*/
.tuttobouton__nmb {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: 0;
  background: $primaryColor;
  text-align: center;
}
/*version tablette*/
/*.mainbody {
  border : 2px solid violet;
}
.mainmenu {
  border : 2px solid green;
}

.container__allfood {
  border: 2px solid violet;
}
.container__food {
  border: 2px solid green;
}
.button  {
  border: 2px solid red;
}
*/
