
.tutobouton {
    @include centerflex(row-reverse);  
    width: 90%; 
    height: 5em;        
    .buttonborder {
        @include centerflex(row);
        
        min-width: 90%;
        border-radius: 25px;
        border : 0;
        padding : 0.1em;
        background: #F6F6F6;
        margin-left: -14px;
    }
}
.tuttobouton__nmb {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border: 0;
    background: $primaryColor;
    text-align: center;
    }