/*font-family: 'Shrikhand', cursive;*/
$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$typoblanc: #ffffff;

$police:'Shrikhand', cursive;

/*Suppression du surlignage dans les liens*/
a {
    text-decoration: none;
    color: inherit;
}

/*typo en blanc*/

li, button, .tuttobouton__nmb {
    color  : $typoblanc;
}

/* Font page d'accueil*/
main {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
    }
    h3, .tuttobouton__nmb {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    p {
        font-family: 'Roboto', sans-serif;
    }
    .localisation h3, .containerbutton h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}
/*footer*/
footer {
    li {
        font-family: 'Roboto', sans-serif;
        
      
        
        margin: 0 0 0.6em 0;
        h2{
            font-family: $police;
            font-weight: normal;
         }   
    }
}

/*police du bouton violet*/
.purplebutton{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.titrecoeur {
    h1 {
        font-family: $police;
        font-size: 40px;
        font-weight: normal;
    }
}

.container__allfood {
   
    h1 {
       
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
    }
    h1:before{
        content: "";
        position: absolute;
        width: 5rem;
        height: 1px;
        bottom: 0;
        border-bottom: 4px solid $tertiaryColor;
    }
    
}