body {
  max-width: 1200px;
  margin: 0 auto;
 
}

.tuto {
  margin-bottom: 3em;
}

/**************************************/
/***************VIGNETTES**************/
/**************************************/

/*Création des vignettes de la page d'accueil*/
.vignette {
  @include cadre;
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  @media (min-width: 769px) {
    max-width: 40em;
  }
}
.container {
  @media (min-width: 769px) {
    @include centerflex($direction: row);
  }
}

/*Mise en place du contenu text et icone des vignettes */
.container__desc {
  @include centerflex($direction: row);
  justify-content: space-between;

  height: 30%;

  padding-left: 1em;
  padding-right: 2em;

  h2,
  h3 {
    margin: 0;
  }
}

/**************************************/
/************LOCALISATION**************/
/**************************************/
.localisation {
  background: #eaeaea;
  text-align: center;
  padding: 0.1em;
}

/**************************************/
/************EXPLORER******************/
/**************************************/
.explorer {
  @include centerflex($direction: column);
  justify-content: center;
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 4em;
  padding: 2em;
  h1{
    margin-bottom: 0;
  }
  p{
    margin-bottom: 2rem;
  }
}

/*Ajout d'une marge à gauche pour les titres*/
.tuto h1,
.resto h1 {
  padding-left: 0.8em;
}

/**************************************/
/***************RESTO******************/
/**************************************/
.resto {
  background: #f6f6f6;
  padding-top: 2em;  
  padding-bottom: 3em;
}
.containerbutton {
  @include centerflex($direction: column);
  justify-content: space-around;
  @media (min-width: 480px) {
    @include centerflex($direction: row);
    flex-wrap: wrap;
  }
}
.vignette {
  position: relative;
}
.nouveaubutton{
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: $tertiaryColor;
  color:  #1c6351;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}