@mixin centerflex($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin shadow() {
  box-shadow: 5px 10px 10px rgba(207, 206, 206, 0.397);
}
