
@import "../base/police";
@import "../utils/var";


#logo {
    font-family: $police;
}

header {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    #logo {
        grid-column: 2/3;
    }

}
 
